In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("tous_les_livres_523.csv")

In [3]:
print(df.head(2))

                  Titre    Prix            Disponibilité  \
0  A Light in the Attic  £51.77  In stock (22 available)
1    Tipping the Velvet  £53.74  In stock (20 available)

                                         Description   Note  \
0  It's hard to imagine a world without A Light i...  Three
1  "Erotic and absorbing...Written with starling ...    One

                                               Image  Page
0  https://books.toscrape.com/media/cache/fe/72/f...     1
1  https://books.toscrape.com/media/cache/08/e9/0...     1

In [4]:
df["Description"] = (
    df["Description"]
    .str.strip()  # Supprimer espaces au début/fin
    .str.replace(r"\s+", " ", regex=True)  # Remplacer espaces multiples par un seul
    .str.replace(r"[^a-zA-ZÀ-ÿ0-9\s]", "", regex=True)  # Supprimer caractères spéciaux
)

In [5]:
df["Prix"] = df["Prix"].str.strip().str.replace("£", "").astype(float)

In [6]:
# Extraire uniquement le nombre et le convertir en int
df["Disponibilité"] = df["Disponibilité"].str.extract(r"(\d+)").astype(int)

In [7]:
# Extraire la note sous forme numérique (ex: "Three" →3).
# Dictionnaire de correspondance
note_map = {
    "One": 1,
    "Two": 2,
    "Three": 3,
    "Four": 4,
    "Five": 5
}

# Conversion
df["Note"] = df["Note"].map(note_map)

In [8]:
df.isnull().sum()

Titre            0
Prix             0
Disponibilité    0
Description      0
Note             0
Image            0
Page             0
dtype: int64

In [9]:
df["Description"] = df.apply(
    lambda row: row["Titre"] if len(str(row["Description"]).strip()) < 10 else row["Description"],
    axis=1
)

In [10]:
df=df.drop("Page", axis=1)

In [11]:
df = df.rename(columns={
    "Titre": "titre",
    "Prix": "prix",
    "Disponibilité": "disponibilite",
    "Description": "description",
    "Note": "note",
    "Image": "image"
})

In [12]:
df.to_csv("livres_bruts.csv", index=False, encoding="utf-8")

In [14]:
print(df.head(2))

                  titre   prix  disponibilite  \
0  A Light in the Attic  51.77             22
1    Tipping the Velvet  53.74             20

                                         description  note  \
0  Its hard to imagine a world without A Light in...     3
1  Erotic and absorbingWritten with starling powe...     1

                                               image
0  https://books.toscrape.com/media/cache/fe/72/f...
1  https://books.toscrape.com/media/cache/08/e9/0...

In [156]:
# ! pip install sqlalchemy psycopg2

In [21]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, String, Float, Text
from dotenv import load_dotenv
import os

# ----- Charger les variables d'environnement -----
load_dotenv()  # lit le fichier .env
DB_URI = os.getenv("DATABASE_URL")  # utilise DATABASE_URL du .env

# 🔹 Chemin vers ton CSV
CSV_FILE = "livres_bruts.csv"

def load_books_to_db(csv_file: str, db_uri: str):
    try:
        # ----- Charger CSV -----
        df = pd.read_csv(csv_file)

        # ----- Ajouter un ID si nécessaire -----
        if 'id' not in df.columns:
            df.reset_index(inplace=True)
            df.rename(columns={'index': 'id'}, inplace=True)

        # ----- Vérification rapide -----
        print("\nAperçu des données:")
        display(df.head())
        print(f"\nNombre de livres: {len(df)}")
        print(f"Colonnes: {list(df.columns)}")
        print(f"Types: {df.dtypes}")

        # ----- Connexion à PostgreSQL -----
        engine = create_engine(db_uri)

        # ----- Sauvegarde dans PostgreSQL -----
        df.to_sql(
            "livres",
            engine,
             if_exists="append", # ou 'append' si tu veux ajouter
            index=False,
            chunksize=1000,
            dtype={
                "id": Integer,
                "titre": String(500),
                "description": Text,
                "prix": Float,
                "image": String(500),
                "disponibilite": Integer,
                "note": Integer
            }
        )
        print(" Données sauvegardées dans PostgreSQL avec succès !")

        # ----- Vérification -----
        result = pd.read_sql_query("SELECT COUNT(*) as total FROM livres", engine)
        print(f"Vérification: {result['total'].iloc[0]} livres dans la base")
    except Exception as e:
        print(f"Erreur lors du chargement des données : {e}")
# 🔹 Lancer le script
if __name__ == "__main__":
    load_books_to_db(CSV_FILE, DB_URI)

Aperçu des données:

,id,titre,prix,disponibilite,description,note,image
0,0,A Light in the Attic,51.77,22,Its hard to imagine a world without A Light in...,3,https://books.toscrape.com/media/cache/fe/72/f...
1,1,Tipping the Velvet,53.74,20,Erotic and absorbingWritten with starling powe...,1,https://books.toscrape.com/media/cache/08/e9/0...
2,2,Soumission,50.10,20,Dans une France assez proche de la nôtre un ho...,1,https://books.toscrape.com/media/cache/ee/cf/e...
3,3,Sharp Objects,47.82,20,WICKED above her hipbone GIRL across her heart...,4,https://books.toscrape.com/media/cache/c0/59/c...
4,4,Sapiens: A Brief History of Humankind,54.23,20,From a renowned historian comes a groundbreaki...,5,https://books.toscrape.com/media/cache/ce/5f/c...

Nombre de livres: 523
Colonnes: ['id', 'titre', 'prix', 'disponibilite', 'description', 'note', 'image']
Types: id                 int64
titre             object
prix             float64
disponibilite      int64
description       object
note               int64
image             object
dtype: object
Erreur lors du chargement des données : (psycopg2.errors.UniqueViolation) ERREUR:  la valeur d'une clé dupliquée rompt la contrainte unique « livres_pkey »
DETAIL:  La clé « (id)=(0) » existe déjà.

[SQL: INSERT INTO livres (id, titre, prix, disponibilite, description, note, image) VALUES (%(id__0)s, %(titre__0)s, %(prix__0)s, %(disponibilite__0)s, %(description__0)s, %(note__0)s, %(image__0)s), (%(id__1)s, %(titre__1)s, %(prix__1)s, %(disponibilite__ ... 63292 characters truncated ... __522)s, %(prix__522)s, %(disponibilite__522)s, %(description__522)s, %(note__522)s, %(image__522)s)]
[parameters: {'note__0': 3, 'prix__0': 51.77, 'description__0': 'Its hard to imagine a world without A Light in the Attic This nowclassic collection of poetry and drawings from Shel Silverstein celebrates its 20th  ... (689 characters truncated) ...  no safe place to rockAnd who put you up thereAnd your cradle tooBaby I think someone down heresGot it in for you Shel you never sounded so good more', 'image__0': 'https://books.toscrape.com/media/cache/fe/72/fe72f0532301ec28892ae79a629a293c.jpg', 'titre__0': 'A Light in the Attic', 'disponibilite__0': 22, 'id__0': 0, 'note__1': 1, 'prix__1': 53.74, 'description__1': 'Erotic and absorbingWritten with starling powerThe New York Times Book Review  Nan King an oyster girl is captivated by the music hall phenomenon Kit ... (686 characters truncated) ... s in an allsinging and dancing double act At the same time behind closed doors they admit their attraction to each other and their affair begins more', 'image__1': 'https://books.toscrape.com/media/cache/08/e9/08e94f3731d7d6b760dfbfbc02ca5c62.jpg', 'titre__1': 'Tipping the Velvet', 'disponibilite__1': 20, 'id__1': 1, 'note__2': 1, 'prix__2': 50.1, 'description__2': 'Dans une France assez proche de la nôtre un homme sengage dans la carrière universitaire Peu motivé par lenseignement il sattend à une vie ennuyeuse  ... (760 characters truncated) ... xister dans ce roman les intuitions poétiques les effets comiques une mélancolie fatalisteCe livre est une saisissante fable politique et morale more', 'image__2': 'https://books.toscrape.com/media/cache/ee/cf/eecfe998905e455df12064dba399c075.jpg', 'titre__2': 'Soumission', 'disponibilite__2': 20, 'id__2': 2, 'note__3': 4, 'prix__3': 47.82, 'description__3': 'WICKED above her hipbone GIRL across her heart Words are like a road map to reporter Camille Preakers troubled past Fresh from a brief stay at a psyc ... (1294 characters truncated) ... d to her years before if she wants to survive this homecomingWith its taut crafted writing Sharp Objects is addictive haunting and unforgettable more', 'image__3': 'https://books.toscrape.com/media/cache/c0/59/c05972805aa7201171b8fc71a5b00292.jpg', 'titre__3': 'Sharp Objects', 'disponibilite__3': 20, 'id__3': 3, 'note__4': 5, 'prix__4': 54.23, 'description__4': 'From a renowned historian comes a groundbreaking narrative of humanitys creation and evolutiona 1 international bestsellerthat explores the ways in w ... (1597 characters truncated) ...  work is sure to spark debate and is essential reading for aficionados of Jared Diamond James Gleick Matt Ridley Robert Wright and Sharon Moalem more', 'image__4': 'https://books.toscrape.com/media/cache/ce/5f/ce5f052c65cc963cf4422be096e915c9.jpg', 'titre__4': 'Sapiens: A Brief History of Humankind', 'disponibilite__4': 20, 'id__4': 4, 'note__5': 1, 'prix__5': 22.65, 'description__5': 'Patient TwentynineA monster roams the halls of Soothing Hills Asylum Three girls dead 29 is endowed with the curseor gift of perception She hears mes ... (649 characters truncated) ... t see the outside world But the monster has other plans The missing girls share one common threadeach was twentynines cell mate Will she be next more', 'image__5': 'https://books.toscrape.com/media/cache/6b/07/6b07b77236b7c80f42bd90bf325e69f6.jpg', 'titre__5': 'The Requiem Red', 'disponibilite__5': 19, 'id__5': 5, 'note__6': 4, 'prix__6': 33.34, 'description__6': 'Drawing on his extensive experience evaluating applicants for his marketing agency and featuring stories based on reallife situations sample cover le ... (1510 characters truncated) ... o the job search process and lets readers in on all of the dirty little secrets to landing their first jobor a new oneand finding career success more', 'image__6': 'https://books.toscrape.com/media/cache/e1/1b/e11bea016d0ae1d7e2dd46fb3cb870b7.jpg', 'titre__6': 'The Dirty Little Secrets of Getting Your Dream Job', 'disponibilite__6': 19, 'id__6': 6, 'note__7': 3 ... 3561 parameters truncated ... 'id__515': 515, 'note__516': 3, 'prix__516': 52.87, 'description__516': 'Nine weighty literary classics are transformed into delectable morsels with Scott Nashs playful versification and whimsical illustrationCant stomach  ... (913 characters truncated) ... delivered from dense duty to delightful ditty in Scott Nashs collection of hallowed classics featuring notes about the original texts at the end more', 'image__516': 'https://books.toscrape.com/media/cache/7b/b9/7bb9386b43f2aeaa6eaf042df1b4e96f.jpg', 'titre__516': 'Shrunken Treasures: Literary Classics, Short, Sweet, and Silly', 'disponibilite__516': 7, 'id__516': 516, 'note__517': 1, 'prix__517': 51.74, 'description__517': 'Personal finance author and lecturer Robert T Kiyosaki developed his unique economic perspective from two very different influences  his two fathers  ... (604 characters truncated) ... ienced by his poor dad pounded home the counterpoint communicated by his rich dad Taking that message to heart Kiyosaki was able to retire at 47 more', 'image__517': 'https://books.toscrape.com/media/cache/46/1c/461cf454be3aac0b4cd066247c892679.jpg', 'titre__517': 'Rich Dad, Poor Dad', 'disponibilite__517': 7, 'id__517': 517, 'note__518': 2, 'prix__518': 34.41, 'description__518': 'Raymie Clarke has come to realize that everything absolutely everything depends on her And she has a plan If Raymie can win the Little Miss Central F ... (836 characters truncated) ... and unanswerable questions draw the three girls into an unlikely friendship  and challenge each of them to come to the rescue in unexpected ways more', 'image__518': 'https://books.toscrape.com/media/cache/95/6b/956b5a8927463f4ea0774e2469e27ce5.jpg', 'titre__518': 'Raymie Nightingale', 'disponibilite__518': 7, 'id__518': 518, 'note__519': 1, 'prix__519': 32.38, 'description__519': 'Peter H Reynolds creator of The Dot has composed a pitchperfect tribute to the power of music and the bonds of familyWhen a young boy begins to play  ... (736 characters truncated) ...  grows up and stops playing altogether But when his father becomes ill and asks Raj to play for him will Raj remember how to play from the heart more', 'image__519': 'https://books.toscrape.com/media/cache/b6/ba/b6ba2393c312701f1471db91eb73284d.jpg', 'titre__519': 'Playing from the Heart', 'disponibilite__519': 7, 'id__519': 519, 'note__520': 4, 'prix__520': 50.35, 'description__520': 'It starts with a cry in the nightBecket walking her dog one winter evening fears its an abandoned baby left out in the cold But it is something elses ... (1152 characters truncated) ...  a secret crush on her best friends boyfriend Now she must find a way to survive and protect her loved onesbefore the darkness takes her as well more', 'image__520': 'https://books.toscrape.com/media/cache/cb/da/cbda49820de480220af3dff2d30c689a.jpg', 'titre__520': 'Nightstruck: A Novel', 'disponibilite__520': 7, 'id__520': 520, 'note__521': 5, 'prix__521': 11.38, 'description__521': 'When youre hungry for a filling meal its easy to go for the unhealthy stuff Many times even glutenfree and vegan cuisines can be loaded with sneaky f ... (750 characters truncated) ... nts you cant pronounce Whether its breakfast lunch snacks small plates entrees or beverages youll find a hearty healthy recipe for every craving more', 'image__521': 'https://books.toscrape.com/media/cache/5b/46/5b466903acc905deb89019c0407848c4.jpg', 'titre__521': 'Naturally Lean: 125 Nourishing Gluten-Free, Plant-Based Recipes--All Under 300 Calories', 'disponibilite__521': 7, 'id__521': 521, 'note__522': 3, 'prix__522': 43.58, 'description__522': 'The novel your book club must discussMeghann Foye was interviewed on The TODAY Show and The View regarding her new book MeternityA fresh contemporary ... (1450 characters truncated) ... ratedâby the ruse the guilt and the feelings brought on by a totally fictional bellytenantâabout happiness success family and the nature of love more', 'image__522': 'https://books.toscrape.com/media/cache/e3/33/e33394096291284ed1f80c5b13c4e1f3.jpg', 'titre__522': 'Meternity', 'disponibilite__522': 7, 'id__522': 522}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
# ! pip install pydantic_settings

Requirement already satisfied: pydantic_settings in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (2.10.1)
Requirement already satisfied: pydantic>=2.7.0 in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from pydantic_settings) (2.11.7)
Requirement already satisfied: python-dotenv>=0.21.0 in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from pydantic_settings) (0.21.0)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from pydantic_settings) (0.4.1)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from pydantic>=2.7.0->pydantic_settings) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from pydantic>=2.7.0->pydantic_settings) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from pydantic>=2.7.0->pydantic_settings) (4.14.1)

In [22]:
# Charger uniquement les titres et descriptions
db_uri = os.getenv("DATABASE_URL")
engine = create_engine(db_uri)
df = pd.read_sql("SELECT id, titre, description FROM livres", engine)
print(df.head())

   id                                  titre  \
0   0                   A Light in the Attic
1   1                     Tipping the Velvet
2   2                             Soumission
3   3                          Sharp Objects
4   4  Sapiens: A Brief History of Humankind

                                         description
0  Its hard to imagine a world without A Light in...
1  Erotic and absorbingWritten with starling powe...
2  Dans une France assez proche de la nôtre un ho...
3  WICKED above her hipbone GIRL across her heart...
4  From a renowned historian comes a groundbreaki...

In [180]:
! pip install nltk

^C

Requirement already satisfied: nltk in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from nltk) (1.5.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from nltk) (2025.7.34)
Requirement already satisfied: tqdm in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\rehmi salma\anaconda3\nouveau dossier\lib\site-packages (from click->nltk) (0.4.6)

In [24]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to C:\Users\Rehmi
[nltk_data]     Salma\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Rehmi
[nltk_data]     Salma\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [25]:
stemmer = PorterStemmer()
stop_words = set(stopwords.words('english'))

In [26]:
def preprocess_text(text):
    text = str(text).lower()  # mettre en minuscules
    words = word_tokenize(text)  # tokenisation
    words = [word for word in words if word.isalpha() and word not in stop_words]  # filtrer
    stemmed_words = [stemmer.stem(word) for word in words]  # stemming
    return ' '.join(stemmed_words)  # reformer le texte

In [27]:
df['description'] = df['description'].apply(preprocess_text)
print(df["description"].head())

0    hard imagin world without light attic nowclass...
1    erot absorbingwritten starl powerth new york t...
2    dan une franc assez proch de la nôtre un homm ...
3    wick hipbon girl across heart word like road m...
4    renown historian come groundbreak narr human c...
Name: description, dtype: object

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
# On fixe le nombre maximum de mots à garder dans la matrice TF-IDF
tfidf = TfidfVectorizer(max_features=5000)  # par exemple 5000 mots les plus fréquents
X_tfidf = tfidf.fit_transform(df['description'])

In [29]:
print("Dimensions : ", X_tfidf.shape)  # (n_messages, n_mots)
print("Quelques mots : ", tfidf.get_feature_names_out()[:10])  # Voir les 10 premiers mots

Dimensions :  (523, 5000)
Quelques mots :  ['aaron' 'abandon' 'abbi' 'abbot' 'abduct' 'abil' 'abl' 'abound' 'abra'
 'abraham']

In [30]:
# Transformer la matrice en DataFrame pour visualiser
tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=tfidf.get_feature_names_out())
print(tfidf_df.head())

   aaron  abandon  abbi  abbot  abduct     abil  abl  abound  abra  abraham  \
0    0.0      0.0   0.0    0.0     0.0  0.00000  0.0     0.0   0.0      0.0
1    0.0      0.0   0.0    0.0     0.0  0.00000  0.0     0.0   0.0      0.0
2    0.0      0.0   0.0    0.0     0.0  0.00000  0.0     0.0   0.0      0.0
3    0.0      0.0   0.0    0.0     0.0  0.00000  0.0     0.0   0.0      0.0
4    0.0      0.0   0.0    0.0     0.0  0.06711  0.0     0.0   0.0      0.0

   ...  zeuss  zimbabw  zimbardo  zinger  zoe  zombi  zoo  zoologist  zorin  \
0  ...    0.0      0.0       0.0     0.0  0.0    0.0  0.0        0.0    0.0
1  ...    0.0      0.0       0.0     0.0  0.0    0.0  0.0        0.0    0.0
2  ...    0.0      0.0       0.0     0.0  0.0    0.0  0.0        0.0    0.0
3  ...    0.0      0.0       0.0     0.0  0.0    0.0  0.0        0.0    0.0
4  ...    0.0      0.0       0.0     0.0  0.0    0.0  0.0        0.0    0.0

   zuko
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0

[5 rows x 5000 columns]

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

# Calcul de la similarité cosinus
cosine_sim = cosine_similarity(X_tfidf, X_tfidf)

# cosine_sim est une matrice (n_books x n_books) contenant les scores de similarité
print(cosine_sim.shape)

(523, 523)

In [32]:
book_index = 0  # par exemple, le premier livre
similar_books = list(enumerate(cosine_sim[book_index]))
similar_books = sorted(similar_books, key=lambda x: x[1], reverse=True)

print("Livre de référence :", df.iloc[book_index]["titre"])
print("\nLivres similaires :")
for idx, score in similar_books[1:6]:  # les 5 plus similaires
    print(f"- {df.iloc[idx]['titre']} (score: {score:.2f})")

Livre de référence : A Light in the Attic

Livres similaires :
- salt. (score: 0.10)
- Whole Lotta Creativity Going On: 60 Fun and Unusual Exercises to Awaken and Strengthen Your Creativity (score: 0.10)
- The Artist's Way: A Spiritual Path to Higher Creativity (score: 0.09)
- Steal Like an Artist: 10 Things Nobody Told You About Being Creative (score: 0.08)
- You can't bury them all: Poems (score: 0.08)

In [33]:
import joblib

# Sauvegarder le TF-IDF et la matrice
joblib.dump(tfidf, "tfidf_vectorizer.pkl")
joblib.dump(X_tfidf, "livre_vectors.pkl")
joblib.dump(cosine_sim, "cosine_sim_matrix.pkl")

print("✅ Modèles enregistrés !")

✅ Modèles enregistrés !